<form method="post" action="/new">
    <input type="text" id="author" name="author" placeholder="Author's name">
    <input type="text" id="message" name="message" placeholder="Message">
    <button type="submit">Submit</button>
</form>